* {
    box-sizing: border-box;
}

body{
    background-color: #732a00;
}

.nav{
    background-color:#e7d2c6;
    width:100%;
    height:60px;
    /* position: fixed; */
    top:0;
    right:0;
    display:flex;
    z-index:10;
    align-items:flex-end;
}

.about-btn{
    background-color:#732a00;
    width:50%;
    height:85%;
    text-align: left;
    
    color:#e7d2c6;
    transition: .5s;
    font-family: forma-djr-text, sans-serif;
font-weight: 400;
font-style: normal;
padding:10px;
    padding-left: 40px;
    font-size:26px;
    border-radius: 30px 30px 0 0;
    /* position:; */
    text-decoration: underline;
}

.about-btn:hover{
    border-radius: 30px 30px 0 0;
    color:#e7d2c6;
    text-decoration:underline;
}

.work-btn{
    background-color:#e7d2c6;
    width:50%;
    height:85%;
    text-align: left;
    padding:10px;
    padding-left: 40px;
    color:#732a00;
    transition: .5s;
    position:relative;
    border-radius: 50px;
    font-size:26px;
    font-family: forma-djr-text, sans-serif;
font-weight: 400;
font-style: normal;
text-decoration: none;


}

.work-btn:hover{
    text-decoration: underline;
    color:#732a00;
    
}



.underline{
    text-decoration:underline;
    margin-bottom:-20px;
}

.aboutme{
    color:#e7d2c6
}

.column{
    color:#e7d2c6
}

.underline{
    color:#e7d2c6
}

a{
    color:#e7d2c6
}


@media screen and (max-width:400px) {

    .aboutme{
        margin:10px;
        margin-top:60px;
        width:100%;
        
    }

    .column{
        margin:10px;
    }
    

    .menu-btn{
        background-color: black;
        width:100px;
        height:40px;
        display:block;
        color:rgb(249, 246, 244);
        padding:8px;
        left:10px;
        top:10px;
        text-align:center;
        position:absolute;
        z-index:11;
        transition:.5s;
    }

.menu-btn.active{
    border-radius: 50px;
}

.nav{
top:10px;
left:10px;
width:90px;
height:40px;
flex-direction:row;
transition:.5s;
position:absolute;
}

.nav.active{
width:200px;
left:110px;
}

.about-btn{
width:50%;
height:100%;
}

.work-btn{
width:50%;
height:100%;
}

}